:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
body {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Outfit", sans-serif;
  background: var(--color-light-gray);
  color: var(--color-grayish-blue);
}

h1,
h2 {
  color: var(--color-dark-blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 100%;
}

.card {
  max-width: 320px;
  border: 1px solid black;
  padding: 1rem;
  background: var(--color-white);
}

.card__content {
  text-align: center;
}
