html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 100%;
}

.card {
  max-width: 320px;
  border: 1px solid black;
}
